{% extends 'admin_page/base.html' %}

{% block content %}

{% include 'admin_page/modal-logout.html' %}

<div class="content-wrapper">

  <!-- Content Header -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"></h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <section class="content">
    <div class="container-fluid">

      <!-- Small Boxes Section -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>150</h3>
              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>
              <p>Bounce Rate</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>44</h3>
              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>65</h3>
              <p>Unique Visitors</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>

      <!-- Row for Pie Charts -->
      <div class="row">
        <!-- Pie Chart 1 -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <div id="pie-chart-initiative"></div>
            </div>
          </div>
        </div>

        <!-- Pie Chart 2 -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <div id="pie-chart-geo"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  // Render the first pie chart
  var pieChartInitiative = {{ pie_chart_initiative|safe }};
  Plotly.newPlot('pie-chart-initiative', pieChartInitiative.data, pieChartInitiative.layout);

  // Render the second pie chart
  var pieChartGeo = {{ pie_chart_geo|safe }};
  Plotly.newPlot('pie-chart-geo', pieChartGeo.data, pieChartGeo.layout);
</script>

{% endblock %}
