{% extends 'admin_page/base.html' %} {% block content %}

<div class="content-wrapper">
  <!-- Content Header -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"></h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small Boxes Section -->

      <div class="row">
        {% for group in top_groups %}
        <div class="col-md-3 col-sm-6 col-12">
          <div
            class="info-box {% if forloop.counter == 1 %}bg-gradient-info {% elif forloop.counter == 2 %}bg-gradient-success {% elif forloop.counter == 3 %}bg-gradient-warning {% else %}bg-gradient-danger {% endif %}"
          >
            <span class="info-box-icon"><i class="far fa-folder"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{ group.name }}</span>
              <span class="info-box-number">{{ group.num_items }} Datasets</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <br />
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        {% endfor %}
      </div>

      <!-- Row for Pie Charts -->
      <div class="row">
        <!-- Pie Chart 1 -->
        <div class="col-lg-6">
          <div class="card card-primary">
            <div class="card-header">Type of Initiative or Organisation</div>
            <div class="card-body">
              <div id="pie-chart-initiative"></div>
            </div>
          </div>
        </div>

        <!-- Pie Chart 2 -->
        <div class="col-lg-6">
          <div class="card card-primary">
            <div class="card-header">
              Geographic Origin of the Initiative or Organisation
            </div>
            <div class="card-body">
              <div id="pie-chart-geo"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  // Render the first pie chart
  var pieChartInitiative = {{ pie_chart_initiative|safe }};
  Plotly.newPlot('pie-chart-initiative', pieChartInitiative.data, pieChartInitiative.layout);

  // Render the second pie chart
  var pieChartGeo = {{ pie_chart_geo|safe }};
  Plotly.newPlot('pie-chart-geo', pieChartGeo.data, pieChartGeo.layout);
</script>

<!-- remove plotly logo and modebar from the website -->
<style>
  .modebar-container{
      display: none;
  }
</style>
{% endblock %}
