{% extends 'admin_page/base.html' %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <span class="fa fa-check-circle"></span> {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <!-- Left Column -->
                <div class="col-md-12">
                    <div class="card card-lightblue">
                        <div class="card-header">
                            <h3 class="card-title"><span class="fa fa-building"></span>
                                <small>Initiatives Management</small>
                            </h3>
                        </div>
                        <div class="card-body">
                            <table id="myTable" class="table table-bordered table-striped dt-responsive" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Index</th>
                                        <th>Initiative Name</th>
                                        <th>Foundation Year</th>
                                        <th>Type of initiative</th>
                                        <th>Origin of the initiative</th>
                                        <th>Area of focus</th>
                                        <th>Official link</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for initiative in diaspora_initiatives %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ initiative.InitiativeName }}</td>
                                        <td>{{ initiative.FoundationYear }}</td>
                                        <td>{{ initiative.InitiativeType }}</td>
                                        <td>{{ initiative.InitiativeOrigin }}</td>
                                        <td>{{ initiative.AriaOfFocus }}</td>
                                        <td><a href="{{ initiative.OfficialLink }}" target="_blank" class="text-sm"><strong><span class="fa fa-link"></span> Official Link</strong></a></td>
                                        <td>
                                            <!-- Edit Button -->
                                            <a href="#" data-toggle="modal" data-target="#editModal{{ initiative.id }}">
                                                <i class="fa fa-pencil text-warning text-sm" title="Edit Item"></i>
                                            </a>
                                            &nbsp;
                                            <!-- Delete Button -->
                                            <a href="#" onclick="confirmDelete('{{ initiative.id }}', '{{ initiative.InitiativeName }}')">
                                                <i class="fa fa-trash text-danger text-sm" title="Delete Item"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <!-- Edit Modal -->
                                    <div class="modal fade" id="editModal{{ initiative.id }}">
                                        <div class="modal-dialog modal-default">
                                            <div class="modal-content">
                                                <div class="modal-header bg-lightblue">
                                                    <h4 class="modal-title">
                                                        <small>Edit Initiatives</small>
                                                    </h4>
                                                </div>
                                                <form id="InitiativeAddForm" method="POST" action="{% url 'update-initiatives' initiative.id %}">
                                                    {% csrf_token %}
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Initiative Name:</label>
                                                                    <input type="text" name="InitiativeName" value="{{ initiative.InitiativeName }}" class="form-control" placeholder="Enter initiative name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Foundation Year:</label>
                                                                    <input type="text" name="FoundationYear" value="{{ initiative.FoundationYear }}" class="form-control" placeholder="Enter foundation year">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Type of Initiative:</label>
                                                                    <input type="text" name="InitiativeType" value="{{ initiative.InitiativeType }}" class="form-control" placeholder="Enter type of initiative">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Origin of The Initiative:</label>
                                                                    <select class="form-control select2" name="InitiativeOrigin" style="width: 100%;">
                                                                        <option selected="selected" disabled>Select origin</option>
                                                                        <option>Ethiopia (Outside of Tigray)</option>
                                                                        <option>Africa</option>
                                                                        <option>North America</option>
                                                                        <option>Central/South America</option>
                                                                        <option>Asia</option>
                                                                        <option>Europe</option>
                                                                        <option>Middle East</option>
                                                                        <option>Australia</option>
                                                                      </select>
                                                                    
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Area of Focus:</label>
                                                                    <input type="text" name="AriaOfFocus" value="{{ initiative.AriaOfFocus }}" class="form-control" placeholder="Enter area of focus">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Official Link:</label>
                                                                    <input type="url" name="OfficialLink" value="{{ initiative.OfficialLink }}" class="form-control" placeholder="Enter official link">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-dark float-right">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function confirmDelete(itemId, itemName) {
        Swal.fire({
            title: 'Are you sure?',
            text: `Do you want to delete the "${itemName}" Initiative?`,
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#7066e0',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Continue <span class="fa fa-arrow-right"></span>',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form programmatically
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = `/delete-initiatives/${itemId}`;
                form.innerHTML = `{% csrf_token %}`;
                document.body.appendChild(form);
                form.submit();
            }
        });
    }
</script>

{% endblock %}
