{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tigray Data Repository</title>
    <link rel="shortcut icon" href="{% static 'img/output-onlinepngtools.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.1.2/typicons.min.css">
    <link rel="stylesheet" href="{% static 'admin_static/css/azia.css' %}">
  </head>
  <body class="az-body">
    <div class="az-signin-wrapper">
        <div class="az-card-signin my-4">
          <div class="az-signin-header">
            <h1 class="az-logo">
              <img src="{% static 'img/output-onlinepngtools.png' %}" style="width: 100%;" alt="">
            </h1>
            <br>
            <form id="signin-form" action="index.html">
              <div class="form-group">
                <label><span class="typcn typcn-user-outline"></span><strong>Username</strong></label>
                <input type="text" class="form-control" placeholder="Enter your username" name="username" required>
              </div>
              <div class="form-group">
                <label><strong><span class="typcn typcn-eye-outline"></span> Password</strong></label>
                <input type="password" class="form-control" placeholder="Enter your password" name="password" required>
              </div>
              <button type="submit" class="btn btn-az-primary btn-block">Sign In</button>
            </form>
          </div>
          <div class="az-signin-footer pt-5">
            <p><a href=""><span class="typcn typcn-key-outline"></span>Forgot password?</a></p>
          </div>
        </div>
      </div>
      

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="{% static 'admin_static/js/azia.js' %}"></script>

    <script>
      $(document).ready(function () {
        $('#signin-form').validate({
          rules: {
            username: {
              required: true
            },
            password: {
              required: true
            }
          },
          messages: {
            username: "Please enter your username",
            password: "Please enter your password"
          },
          errorElement: 'span',
          errorPlacement: function (error, element) {
            error.addClass('text-danger');
            error.insertAfter(element);
          },
          highlight: function (element) {
            $(element).addClass('is-invalid');
          },
          unhighlight: function (element) {
            $(element).removeClass('is-invalid');
          }
        });
      });
    </script>

  </body>
</html>
