{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tigray Data Repository</title>
  <link rel="shortcut icon" href="{% static 'img/Tigray_logo2.png' %}" type="image/x-icon">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'admin_static/css/adminlte.min.css' %}">
</head>

<body class="hold-transition login-page" style="background-color: white;">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger alert-dismissible">
    <span class="fa fa-exclamation-triangle"></span> {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="{% url 'index' %}" target="_blank" class="h1">
          <img src="{% static 'img/tigray data repo.jpg' %}" style="width: 100%;" alt="">
        </a>
      </div>
      <div class="card-body">

        <form method="post" id="signin-form">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password">
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" name="remember_me">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p class="mt-4 mb-2">
          <a href="{% url 'forgot-password' %}"><span class="fa fa-key"></span> Forgot Password?</a>
        </p>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <small>Copyright &copy <span id="currentYear"></span></small>
        </div>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'admin_static/js/adminlte.min.js' %}"></script>

  <script>
    $(function () {
      $('#signin-form').validate({
        rules: {
          username: {
            required: true,
          },
          password: {
            required: true,
          },
          terms: {
            required: true
          },
        },
        messages: {
          username: {
            required: "Please enter a username",
          },
          password: {
            required: "Please provide a password"
          },
          terms: "Please accept our terms"
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });
    });
  </script>

  <script>
    const year = new Date().getFullYear();
    document.getElementById('currentYear').textContent = year;
  </script>


</body>

</html>