{% load static %}
{% load custom_filters %}

<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center py-4 mt-5">
            <div class="col-md-1 heading-section text-center ftco-animate">
            </div>
        </div>

        <div class="row d-flex">

            <div class="col-md-12 pt-4">
                <div class="card h-100 shadow-none border-0">
                    <!-- Card Body -->
                    <div class="card-body d-flex flex-column">
                        <div class="container mt-2">
                            <p id="intro-text">We, at TDR, strongly believe in the power of teamwork, collaboration,
                                innovation and data-driven community work. To this end, here’s how you can contribute
                                and make a bigger
                                impact on our collective change in the society:</p>

                            <div class="mt-4">
                                <div class="mb-3 pt-4">
                                    <h5 class="fw-bold text-dark"><span class="bi bi-1-circle-fill"></span> Share Your
                                        Insights</h5>
                                    <p id="intro-text">Dive into our open datasets, identify patterns or insights, and
                                        send your analysis to our
                                        email: <a href="mailto:eminemmerne@gmail.com" class="brand-text-color"
                                            target="_blank">info@datagray.org</a>. The work will be
                                        featured in the
                                        TDR Journal, and will boost the
                                        discoveries that are improving our collective understanding.</p>
                                </div>

                                <div class="mb-3 pt-4">
                                    <h5 class="fw-bold text-dark"><span class="bi bi-2-circle-fill"></span> Support Our
                                        Mission and Vision</h5>
                                    <p id="intro-text">Help keep this important work going at TDR through your financial
                                        contribution. This helps
                                        fund data-driven community projects for better service delivery and making sure
                                        that our
                                        history has a living memory through these valuable projects.
                                        <br><br>
                                        Your engagement—whether through intellectual exploration or <a href
                                            data-bs-toggle="modal" data-bs-target="#cardModal" class="brand-text-color"
                                            target="_blank">financial
                                            support</a>—brings
                                        us closer to documenting and preserving our collective story.
                                    </p>
                                </div>

                                <div class="mb-3 pt-5">
                                    <p class="intro-text text-center fw-bold brand-text-color">
                                        Let’s build this legacy together: Data for Tigray, knowledge for
                                            generations!
                                    </p>
                                </div>

                                <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color: #0c529cd0;">
                                                <h5 class="modal-title text-white fw-semibold" id="cardModalLabel">
                                                    <span class="bi bi-credit-card"></span> Your Support, Your Impact
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <form action="{% url 'stripe-checkout' %}" method="GET">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <input type="number" name="amount" class="form-control"
                                                            placeholder="Enter amount($)" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" style="background-color: #0c529cd0;"><span
                                                            class="fa fa-arrow-right"></span> Continue</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>
</section>