{% extends 'base.html' %}

{% load static %}

{% block 'main-section' %}
<section class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div class="container-fluid px-0">
        <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
            <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                <div class="text">
                    <h1 class="text-center" id="hero-main-text">
                        Tigray Data Repository</h1>
                    <p class="text-center">
                        The Tigray Data Repository is a dedicated digital platform aimed at collecting, preserving,
                        and providing access to data related to Tigray, including cultural, historical,
                        socioeconomic, and geographical information. </p>
                    <p class="text-center">
                        <a href="#main-section" class="btn btn-primary py-3 px-4"><span class="fa fa-arrow-down"></span>
                            Get Started
                        </a>
                        <a href="#" class="btn btn-donate py-3 px-4"><span class="fa fa-dollar-sign"></span>
                            Donate Us
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center py-5 mt-5">
            <div class="col-md-5 heading-section text-center ftco-animate">
                <h2 class="mb-4">Available Datasets</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center d-flex ftco-animate">
                <a href="{% url 'view_repo' %}" class="mb-5" style="margin-top: 70px; line-height: 1.3;
                            font-size: 17px;
                            font-weight: 700;
                            position: relative; color: #6a7695;">
                <div class="services-1" style="border-radius: 1rem; border: 1.5px solid rgba(0,0,0,.125);">
                    <span class="fa fa-folder" style="font-size: 4rem!important; color: #f3cf03;"></span>
                    <div class="desc">
                        <br>
                        Pro-Tigray Advocacy
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-3 text-center d-flex ftco-animate">
                <a href="{% url 'view_repo' %}" class="mb-5" style="margin-top: 70px; line-height: 1.3;
                            font-size: 17px;
                            font-weight: 700;
                            position: relative; color: #6a7695;">
                <div class="services-1" style="border-radius: 1rem; border: 1.5px solid rgba(0,0,0,.125);">
                    <span class="fa fa-folder" style="font-size: 4rem!important; color: #f3cf03;"></span>
                    <div class="desc">
                        <br>
                        Pro-Tigray Advocacy
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-3 text-center d-flex ftco-animate">
                <a href="{% url 'view_repo' %}" class="mb-5" style="margin-top: 70px; line-height: 1.3;
                            font-size: 17px;
                            font-weight: 700;
                            position: relative; color: #6a7695;">
                <div class="services-1" style="border-radius: 1rem; border: 1.5px solid rgba(0,0,0,.125);">
                    <span class="fa fa-folder" style="font-size: 4rem!important; color: #f3cf03;"></span>
                    <div class="desc">
                        <br>
                        Pro-Tigray Advocacy
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-3 text-center d-flex ftco-animate">
                <a href="{% url 'view_repo' %}" class="mb-5" style="margin-top: 70px; line-height: 1.3;
                            font-size: 17px;
                            font-weight: 700;
                            position: relative; color: #6a7695;">
                <div class="services-1" style="border-radius: 1rem; border: 1.5px solid rgba(0,0,0,.125);">
                    <span class="fa fa-folder" style="font-size: 4rem!important; color: #f3cf03;"></span>
                    <div class="desc">
                        <br>
                        Pro-Tigray Advocacy
                    </div>
                </div>
            </a>
            </div>

        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center py-5 mt-5">
            <div class="col-md-5 heading-section text-center ftco-animate">
                <h2 class="mb-4">Useful Links</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center d-flex ftco-animate">
                <div class="services-1 bg-light" id="useful_links">
                    <span class="icon">
                        <img src="{% static 'img/omna_tigrai-removebg-preview-modified.png' %}" alt=""
                            style="height: 70px;">
                    </span>
                    <div class="desc">
                        <p>Omna Tigray is a nonprofit focused on educated advocacy + economic development.</p>
                    </div>
                    <a href="https://omnatigray.org/" target="_blank" class="btn btn-warning py-2 px-3"><span
                            class="fa fa-arrow-right"></span>
                        Visit Website
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex ftco-animate">
                <div class="services-1 bg-light" id="useful_links">
                    <span class="icon">
                        <img src="{% static 'img/tghat.png' %}" alt="" style="height: 70px;">
                    </span>
                    <div class="desc">
                        <p>Chronicle, document and analyze the war on Tigray, and tell the Tigrayan story.</p>
                    </div>
                    <a href="https://tghat.com/" target="_blank" class="btn btn-warning py-2 px-3"><span
                            class="fa fa-arrow-right"></span>
                        Visit Website
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex ftco-animate">
                <div class="services-1 bg-light" id="useful_links">
                    <span class="icon">
                        <img src="{% static 'img/tdrf-removebg-preview.png' %}" alt="" style="height: 70px;">
                    </span>
                    <div class="desc">
                        <p>TDRF is a humanitarian organization committed to delivering urgent relief to the people of
                            Tigray.</p>
                    </div>
                    <a href="https://tdrfund.org/" target="_blank" class="btn btn-warning py-2 px-3"><span
                            class="fa fa-arrow-right"></span>
                        Visit Website
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex ftco-animate">
                <div class="services-1 bg-light" id="useful_links">
                    <span class="icon">
                        <img src="{% static 'img/Haben-Teke1-ሓትtrans-removebg-preview.png' %}" alt=""
                            style="height: 70px;">
                    </span>
                    <div class="desc">
                        <p>Haben Tigray is a nonprofit established to support Tigrayans affected by the war.</p>
                    </div>
                    <a href="https://www.habentigray.org/" target="_blank" class="btn btn-warning py-2 px-3"><span
                            class="fa fa-arrow-right"></span>
                        Visit Website
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex ftco-animate">
                <div class="services-1 bg-light" id="useful_links">
                    <span class="icon">
                        <img src="{% static 'img/umdmediaX2-removebg-preview.png' %}" alt="" style="height: 70px;">
                    </span>
                    <div class="desc">
                        <p>UMD Media: promoting evidence-based discourse for informed decision-making.</p>
                    </div>
                    <a href="https://umdmedia.com/" target="_blank" class="btn btn-warning py-2 px-3"><span
                            class="fa fa-arrow-right"></span>
                        Visit Website
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex ftco-animate">
                <div class="services-1 bg-light" id="useful_links">
                    <span class="icon">
                        <img src="{% static 'img/hidrina.jpg' %}" alt="" style="height: 70px;">
                    </span>
                    <div class="desc">
                        <p>Our mission is to uplift and support the wellbeing of martyrs' families.</p>
                    </div>
                    <a href="https://hidrina.org/" target="_blank" class="btn btn-warning py-2 px-3"><span
                            class="fa fa-arrow-right"></span>
                        Visit Website
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex ftco-animate">
                <div class="services-1 bg-light" id="useful_links">
                    <span class="icon">
                        <img src="{% static 'img/hadgi.jpg' %}" alt="" style="height: 70px;">
                    </span>
                    <div class="desc">
                        <p>Hadgi (ሓድጊ), meaning heritage in Tigrigna, promotes Tigrai tourism worldwide.</p>
                    </div>
                    <a href="https://hadgi.com/" target="_blank" class="btn btn-warning py-2 px-3"><span
                            class="fa fa-arrow-right"></span>
                        Visit Website
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex ftco-animate">
                <div class="services-1 bg-light" id="useful_links">
                    <span class="icon">
                        <img src="{% static 'img/tdrf-removebg-preview.png' %}" alt="" style="height: 70px;">
                    </span>
                    <div class="desc">
                        <p>TDRF is a humanitarian organization committed to delivering urgent relief to the people of
                            Tigray.</p>
                    </div>
                    <a href="https://tdrfund.org/" target="_blank" class="btn btn-warning py-2 px-3"><span
                            class="fa fa-arrow-right"></span>
                        Visit Website
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}