{% extends 'base.html' %}

{% load static %}

{% load custom_filters %}

{% block 'main-section' %}
<section class="hero-wrap js-fullheight">
    <div class="container-fluid px-0">
        <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
            <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                <div class="text">
                    <h1 class="text-center" id="hero-main-text">
                        Tigray Data Repository</h1>
                    <p class="text-center">
                        The Tigray Data Repository is a dedicated digital platform aimed at collecting, preserving,
                        and providing access to data related to Tigray, including cultural, historical,
                        socioeconomic, and geographical information. </p>
                    <p class="text-center">
                        <a href="#" class="btn btn-primary py-3 px-4""><span class=" fa fa-dollar-sign"></span>
                            Donate to Us
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card" id="slideFromLeft">
                        <div class="card-header bg-default text-white">
                            <h4 class="mb-0"><strong>Available Datasets</strong></h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled treeview">
                                <li class="mb-3">
                                    <i class="fa fa-angle-right toggle-icon text-dark me-2" data-bs-toggle="collapse"
                                        data-bs-target="#dataset1_2" aria-expanded="false"
                                        style="cursor: pointer; font-size: 1rem;">&nbsp
                                        <i class="fa fa-folder me-2" aria-hidden="true"
                                            style="font-size: 1.3rem; color: #428bca;"></i>
                                        <strong class="align-middle text-dark" style="font-size: 1rem;">
                                            {{ repo.name }}</strong>
                                    </i>
                                    <ul id="dataset1_2" class="collapse ms-4 mt-2">
                                        {% for file_name in files.root %}
                                        <li class="py-1 d-flex align-items-center">
                                            <i class="fa {{ file_name|file_icon }} me-2" aria-hidden="true"
                                                style="font-size: 1rem;"></i>
                                            <span style="font-size: 0.95rem;">
                                                {{ file_name|slice:":50" }}
                                                {% if file_name|length > 50 %}...{% endif %}</span>
                                            <div class="ms-auto">
                                                <a href="" class="badge bg-info text-white me-1">
                                                    <i class="fa fa-eye"></i> View
                                                </a>
                                                <a href="" class="badge bg-success text-white">
                                                    <i class="fa fa-download"></i> Download
                                                </a>
                                            </div>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" id="slideFromRight">
                        <div class="card-header bg-default text-white">
                            <h4 class="mb-0"><strong>Useful Links</strong></h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Interactive dashboard about the initiatives and organisations that our diaspora
                                community has been part of.
                            </p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="btn" style="background-color: #428bca;  border: #428bca;">Read
                                    More...</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    </div>
</section>

<!-- Page Specfic Animation Script -->
<script>
    // Slide in the card from the left
    gsap.from("#slideFromLeft", { x: -300, opacity: 0, duration: 1 });

    // Slide in the card from the right
    gsap.from("#slideFromRight", { x: 300, opacity: 0, duration: 1 });
</script>
{% endblock %}