{% extends 'base.html' %}

{% load static %}

{% load custom_filters %}

{% block 'main-section' %}
<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center py-2 mt-4">
            <div class="col-md-1 heading-section text-center ftco-animate">
            </div>
        </div>

        <div class="row d-flex">

            <div class="col-md-12 pt-2">
                <div class="card h-100 shadow-none border-0">
                    <!-- Card Body -->
                    <div class="card-body d-flex flex-column">
                        <div class="container">
                            <div class="mt-2">
                                <div class="mb-3 pt-4"></div>

                                <br>
                                <div class="heading-container">
                                    <span class="vertical-line"></span>
                                    <h2 class="heading">Title</h2>
                                </div>
                                <div class="underline"></div>
                                <p id="intro-text" class="pt-2">Data for Tigray, Knowledge for Generations</p>
                            </div>

                            <br>
                            <div class="heading-container">
                                <span class="vertical-line"></span>
                                <h2 class="heading">Introduction</h2>
                            </div>
                            <div class="underline"></div>
                            <p id="intro-text" class="pt-2">The Tigray Data Repository is more than a
                                repository; it’s a
                                movement toward the documentation, preservation, and sharing with the world of
                                the rich history, culture, and experiences of Tigray and its diaspora. The TDR
                                was created out of necessity. It is an initiative that
                                focuses on building a data-based platform where data is transformed into
                                knowledge and
                                actionable insights. This platform also transforms history into a tool to
                                advocate for change
                                and raise awareness about Tigray-related issues. It seeks to empower future
                                generations
                                with the tools to understand their past, shape their present, and build their
                                future.</p>
                        </div>

                        <br>
                        <div class="heading-container">
                            <span class="vertical-line"></span>
                            <h2 class="heading">Vision</h2>
                        </div>
                        <div class="underline"></div>

                        <div class="mb-3">
                            <p id="intro-text">It is the main protector of data about Tigray, ensuring it will
                                be preserved and available for
                                future generations. At the same time, it raises awareness and promotes this
                                cause around
                                the world.
                            </p>
                        </div>

                        <br>
                        <div class="heading-container">
                            <span class="vertical-line"></span>
                            <h2 class="heading">Mission</h2>
                        </div>
                        <div class="underline"></div>

                        <div class="mb-3">
                            <p id="intro-text">TDR is committed to documenting, preserving, and making available
                                data related to Tigray’s
                                history, culture, and socio-political contexts. Through making this data
                                available to everyone, we are creating opportunities for researchers, educators,
                                and advocates all over the
                                world. They can use this information to take action in areas like research,
                                education, innovation, and justice.
                            </p>
                        </div>

                        <br>
                        <div class="heading-container">
                            <span class="vertical-line"></span>
                            <h2 class="heading">Core Values</h2>
                        </div>
                        <div class="underline"></div>

                        <div class="mb-3">
                            <ul id="intro-text">
                                <li>
                                    <span class="fw-bold">Integrity:</span> Demonstrating precision and ethical
                                    behavior in how we collect and manage data.
                                </li>
                                <li>
                                    <span class="fw-bold">Collaboration:</span> Working alongside partners
                                    across the world to enhance TDR’s resources and expand our outreach.
                                </li>
                                <li>
                                    <span class="fw-bold">Empowerment:</span> Providing Tigrayans and the
                                    worldwide community with the knowledge they need for informed choices.
                                </li>
                                <li>
                                    <span class="fw-bold">Accountability:</span> Using data helps us to reveal
                                    truths, fight against misinformation, and
                                    promote justice.
                                </li>
                            </ul>
                        </div>

                        <br>
                        <div class="heading-container">
                            <span class="vertical-line"></span>
                            <h2 class="heading">Objectives</h2>
                        </div>
                        <div class="underline"></div>

                        <div class="mb-3">
                            <ul id="intro-text">
                                <li>
                                    Open, reliable and centralized datasets about Tigray.
                                </li>
                                <li>
                                    Make note of significant occurrences like the Tigray Genocide in detail and
                                    with accuracy.
                                </li>
                                <li>
                                    Help to maintain and enhance the involvement of Tigrayan diaspora
                                    individuals in
                                    international awareness.
                                </li>
                                <li>
                                    Making it easier for people to understand and use data by providing
                                    interactive dashboards, holding workshops, and creating publications.
                                </li>
                                <li>
                                    Integrate TDR resources in education and policy by collaborating with
                                    government
                                    agencies, stakeholders and international organizations.
                                </li>
                            </ul>
                        </div>

                        <br>
                        <div class="heading-container">
                            <span class="vertical-line"></span>
                            <h2 class="heading">Methodology</h2>
                        </div>
                        <div class="underline"></div>

                        <div class="mb-3">
                            <p id="intro-text">
                                TDR employs diverse data collection and analysis methods, including historical
                                records, surveys, digital campaigns, and reports from government agencies,
                                stakeholders, and other
                                organizations. All data is structured, anonymized, and checked before use to be
                                used both
                                properly and with effect.
                            </p>

                            <h5 class="fw-bold text-dark pt-2"> Impact:</h5>
                            <p id="intro-text">
                                The TDR will be a living memory of the history and resilience of Tigray, passed
                                on through
                                generations for the purpose of awareness, research, and education. It forms a
                                foundation
                                for justice, an instrument of accountability, and serves as a sign of hope.
                            </p>

                            <h5 class="fw-bold text-dark pt-2"> Call to Action:</h5>
                            <p id="intro-text">
                                Join us in this great undertaking: donate your data, volunteer skills, or
                                financial support to
                                our cause. Together, we can make sure Tigray’s story will never be forgotten and
                                that its
                                future is built on a basis of truth and resilience.
                            </p>

                            <h5 class="fw-bold text-dark pt-2"> Contact Information:</h5>
                            <p id="intro-text">
                                Explore, contribute, and connect: <a href="mailto:info@datagray.org"
                                    class="brand-text-color" target="_blank">info@datagray.org</a>.
                            </p>

                        </div>

                        <div class="pt-4">
                            <blockquote style="border-left: 10px solid #0c529cd0;">
                                <p id="intro-text">
                                    The Tigray Data Repository serves an important role beyond data
                                    preservation; it
                                    safeguards
                                    not only data but also a community, its culture, and its heritage. Together,
                                    let’s
                                    unite in the
                                    cause: Empowering Tigray with data, great knowledge for future generations!
                                </p>
                            </blockquote>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    </div>
</section>
{% endblock %}