{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block 'main-section' %}

<section class="ftco-section ftco-no-pb ftco-no-pt" id="chapter-section">
    <div class="container">
        <div class="row justify-content-center py-5 mt-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="page-1" class="page one">
                    <h2 class="heading text-center"><span class="fa fa-exclamation-triangle text-danger"></span> Donation Cancelled</h2>
                    <p class="text-center">Your payment has been canceled. If this was a mistake, you may try again!</p>
                </div>           

            </div>
        </div>
    </div>
</section>

{% endblock %}
